#
####### telegram-requirements.txt #######
#
###### Requirements without Version Specifiers ######
datetime
requests
unidecode
#
###### Requirements with Version Specifiers ######
#   See https://www.python.org/dev/peps/pep-0440/#version-specifiers
python-telegram-bot >= 8.0
#